{% extends 'index_app/base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-2">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
						  The current link item
						</a>
						<a href="#" class="list-group-item list-group-item-action">A second link item</a>
						<a href="#" class="list-group-item list-group-item-action">A third link item</a>
						<a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
						<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
					  </div>
				</div>
				<div class="col-10">
					<div class="container">
						<div class="row">
							{% for item in items %}
							<div class="col-4 col-sm-1 col-md-2 col-lg-4 col-xl32">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>					
				</div>
			</div>			
		</div>

		
	</div>
</div>
{% endblock %}