{% extends 'index_app/base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="container">
			<div class="row row-cols-auto">
				<div class="col-2">
					<div class="list-group">						
						{% for category in categories %}
							{% if category == current_category %}
								<a href="{% url 'catalog:index-page' %}?category={{ category.id }}" class="list-group-item list-group-item-action active" aria-current="true">{{ category.name }}</a>
							{% else %}
								<a href="{% url 'catalog:index-page' %}?category={{ category.id }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
							{% endif %}
						{% endfor %}				
					</div>
				</div>
				<div class="col-10">
					<div class="container">
						<div class="row row-cols-auto">
							{% for good in goods %}
							<div class="col">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">{{ good.name }}</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<div class="card-body">
									<h5 class="card-title">Card title</h5>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>					
				</div>
			</div>
			<div class="row justify-content-md-center">
				<div class="col-2">

				</div>
				<div class="col-10">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
						  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
						  <li class="page-item"><a class="page-link" href="#">1</a></li>
						  <li class="page-item"><a class="page-link" href="#">2</a></li>
						  <li class="page-item"><a class="page-link" href="#">3</a></li>
						  <li class="page-item"><a class="page-link" href="#">Next</a></li>
						</ul>
					</nav>
				</div>				
			</div>
		</div>

		
	</div>
</div>
{% endblock %}